.navbar-brand {
    font-size: 21px;
}

.navbar-brand img {
    width: 45px;
    height: 45px;
    display: inline-block;
}

#nav {
    background-color: #000b29;
    margin-bottom: 0;
    height: 90px;
}

#nav a {
    color: #f8f5fa;
    padding-top: 32px; /*added 2px for border-top when :hover*/
    padding-bottom: 20px;
}

#nav a:hover {
    color: #f8f5fa;
    background-color: #000b29;
    border-top: 4px solid #d70026;
    padding-top: 28px;
}

.dropdown-menu{
    background-color: #000b29;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu .divider {
    background-color: #f8f5fa;
}

footer {
    background-color: #000b29;
}

footer small {
    display: block;
    text-align: center;
    color: #f8f5fa;
}