.navbar-brand {
    font-size: 21px;
}

.navbar-brand img {
    width: 48px;
    height: 48px;
    display: inline-block;
}

#nav {
    background-color: #000b29;
    margin-bottom: 0;
}

#nav a {
    color: #f8f5fa;
    padding-top: 32px; /*added 2px for border-top when :hover*/
    padding-bottom: 20px;
}

#nav a:hover {
    color: #f8f5fa;
    border-top: 4px solid #d70026;
    padding-top: 28px;
}

footer small {
    display: block;
    text-align: center;
    color: #f8f5fa;
    background-color: #000b29;
}