body {
    color: #f8f5f2;
}

#top-table {
    height: 100%;
    min-height: 800px;
}

#top-title {
    margin: 20px 0 30px 0;
}

table a {
    color: #f8f5f2;
}
table a:hover {
    color: #f8f5f2;
}
table tbody tr {
    font-size: 15px;
    border-top: 1px solid #f8f5f2;
    border-left: 3px solid black;
}
table tbody tr:hover {
    /* background-color: #d70026; #edb83d*/
    background-color: rgba(248, 245, 243, 0.2);
    border-left: 3px solid #edb83d;
}
.btn-default {
    padding: 0px 12px;
    font-size: 15px;
    background-color: #d70026;
    border: none;
    color: #f8f5f2;
}
.btn-default:hover {
    background-color: rgb(170, 1, 32);
    color: #f8f5f2;
}