/*////////////////////
// Static Style
////////////////////*/
/*canvas*/
#sketch-holder {
    background-color: #000b29; /*should not be like this, wanna cancel the whole space this makes here*/
}

#defaultCanvas0 {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* top */
#top-container_wrapper {
    background-color: #000b29;
    /*background-image: url("../img/logo.png");*/
    top: -300px;
}

#top-welcome_screen {
    background-color: rgba(0, 255, 0, 0);
}

#top-welcome_screen span {
    background-color: rgba(0, 11, 41, 0.4);
    padding: 5px 20px;
    display:inline-block;
}

#top-welcome_screen h1 {
    margin-top: 310px;
    font-size: 55px;
    text-align: center;
    color: #f8f5f2;
}

#top-welcome_screen h2 {
    font-size: 21px;
    text-align: center;
    color: #f8f5f2;
}

#top-welcome_screen p {
    text-align: center;
}

#top-welcome_screen a {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #d70026;
    border: none;
    color: #fafafa;
}

#top-welcome_screen a:hover {
    background-color: #cd001c;
}

/* middle */
#middle-container_wrapper {
    background-color: #f8f5f2;
}

#middle-container h1 {
    padding-top: 34px;
    color: #000b29;
    text-align: center;
    font-size: 34px;
}

#middle-container p {
    padding-top: 40px;
    text-align: center;
}

#middle-container figcaption {
    padding-top: 34px;
    font-size: 21px;
    text-align: center;
}

#middle-container div {
    display: inline-block;
}

#middle-container div img {
    width: 180px;
    height: 180px;
}

/* bottom */
#bottom-container_wrapper {
    background-color: #000b29;
}

#bottom-container {
    color: #f8f5f2;
}

#bottom-merge_links {
    background-color: #000b29;
}

#bottom-merge_links h1 {
    padding: 34px 0 21px 0;
    font-size: 55px;
    text-align: center;
}

#submit-btn {
    margin-top: 21px;
    margin-bottom: 21px;
    padding: 15px 0px;
    background-color: #d70026;
    color: #f8f5f2;
    border: none;
    text-align: center;
}

#submit-btn:hover {
    background-color: #cd001c;
    color: #f8f5f2;
}

.emphasize {
    color: #d70026;
}

/*////////////////////
// Media Variation
////////////////////*/
@media (min-width: 0px) {
    /* top */
    #top-container_wrapper {
        height: 300px;
    }
    #top-welcome_screen {
        height: 300px;
    }
    
    /* middle */
    #middle-container_wrapper {
        height: 300px;
    }
    #middle-instruction {
        height: 300px;
    }
    #middle-instruction2 {
        height: 300px;
    }
    #middle-instruction3 {
        height: 300px;
    }
    
    /* bottom */
    #bottom-container_wrapper {
        height: 300px;
    }
    
    #bottom-merge_links {
        height: 300px;
    }
}

@media (min-width: 500px) {
    /* top */
    #top-container_wrapper {
        height: 300px;
    }
    #top-welcome_screen {
        height: 300px;
    }
    
    /* middle */
    #middle-container_wrapper {
        height: 300px;
    }
    #middle-instruction {
        height: 300px;
    }
    #middle-instruction2 {
        height: 300px;
    }
    #middle-instruction3 {
        height: 300px;
    }
    
    /* bottom */
    #bottom-container_wrapper {
        height: 300px;
    }
    
    #bottom-merge_links {
        height: 300px;
    }
}

@media (min-width: 750px) {
    /* top */
    #top-container_wrapper {
        height: 400px;
    }
    #top-welcome_screen {
        height: 400px;
    }
    
    /* middle */
    #middle-container_wrapper {
        height: 400px;
    }
    #middle-instruction {
        height: 400px;
    }
    #middle-instruction2 {
        height: 400px;
    }
    #middle-instruction3 {
        height: 400px;
    }
    
    /* bottom */
    #bottom-container_wrapper {
        height: 400px;
    }
    
    #bottom-merge_links {
        height: 400px;
    }
}

@media (min-width: 1000px) {
    /* top */
    #top-container_wrapper {
        height: 700px;
    }
    #top-welcome_screen {
        height: 700px;
    }
    
    /* middle */
    #middle-container_wrapper {
        height: 500px;
    }
    #middle-instruction {
        height: 500px;
    }
    #middle-instruction2 {
        height: 500px;
    }
    #middle-instruction3 {
        height: 500px;
    }
    
    /* bottom */
    #bottom-container_wrapper {
        height: 100%;
        min-height: 500px;
    }
    
    #bottom-merge_links {
        height: 100%;
        min-height: 500px;
    }
}