#top-wrapper {
    min-height: 800px;
    height: 100%;
}

h1 {
    margin: 30px 0 20px 0;
}

#top-buttons {
    margin: 20px 0;
}

#copybox {
    margin: 0 0 20px 0;
}

#datasets {
    margin-top: 10px;
}
#datasets a {
    text-decoration: none;
    color: #f8f5f3;
}

#dataset {
    border-left: 1px solid #f8f5f3;
    margin: 10px 0 0px 0;
}
#dataset h3 {
    margin: 10px 0;
}
#dataset:hover {
    background-color: rgba(248, 245, 243, 0.2);
    border-left: 5px solid #d70026;
}
#dataset h5 {
    color: #7586b6;
}
